HRManagement/Service References/Salary_Restfull/RestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50616/RestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestService_GetNetIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetIncome" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetNetIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetGrossIncome_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrossIncome" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetGrossIncome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrossIncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetContributions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContributions" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetContributions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContributionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestService">
    <wsdl:operation name="GetNetIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetNetIncome" message="tns:IRestService_GetNetIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetNetIncomeResponse" message="tns:IRestService_GetNetIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrossIncome">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetGrossIncome" message="tns:IRestService_GetGrossIncome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetGrossIncomeResponse" message="tns:IRestService_GetGrossIncome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContributions">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetContributions" message="tns:IRestService_GetContributions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetContributionsResponse" message="tns:IRestService_GetContributions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RestService" />
</wsdl:definitions>