HRManagement/Service References/PremiumUsers_Soap/PremiumUsers2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50616/PremiumUsers.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Premium" />
  <xs:element name="GetReqForUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReqForUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReqForUserTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomeAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Premium" minOccurs="0" name="GetHomeAddressResult" nillable="true" type="q1:HomeAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>